<h1>Tasks</h1>
<input #taskDesc matInput maxlength="255" (keydown)="postTask($event);"><button>Create</button><button>Search</button>

<div style="position:fixed;top:0;">
  <button (click)="multiDeletion()">Delete Multiple</button>
  <button (click)="multiFinish()">Finish tasks</button>
  <p id="deleteMessage" style="display:none;">Supression en traitement...</p>
</div>

<ul>
  <li *ngFor="let task of tasks">
    <input type="checkbox" class="multiDeleted" id="taskId{{ task.id }}" name="{{ task.name }}" value="{{ task.id }}" (click)="selectTask(task)">
    - Name : {{ task.name }}
    - Id : {{ task.id }}
    - Finish : {{ task.isTerminated }}
    - Durée : {{ task.duration }}

    <button (click)="taskIsTerminated(task)">Finish</button>
    <button (click)="editTask(task)">Edit</button>
    <button>Timer</button>
    <button (click)="deleteTask(task.id)">Delete</button>
  </li>
</ul>
<app-edit-task *ngIf="editTaskActive"  [editCurrentTask]="editCurrentTask" (updateCurrentTask)="getTasks()"></app-edit-task>
