<div>
  <input class="fieldPrimary" maxlength="255" (keydown)="actionPrimaryExecute($event);">

  <div class="switch-fiel">
    <input type="radio"
           id="createTask"
           [checked]="actionCreate"
           (click)="actionPrimary($event)"
           value="createTask">
    <label for="createTask">Create</label>

    <input type="radio"
           id="searchTask"
           [checked]="actionSearch"
           (click)="actionPrimary($event)"
           value="searchTask">
    <label for="searchTask">Search</label>
  </div>
</div>

<br>

<div>
  <button (click)="multiDeletion()">Delete Multiple</button>
  <button (click)="multiFinish()">Finish tasks</button>
  <p id="deleteMessage" style="display:none;">Supression en traitement...</p>
</div>

<div>
  <div *ngFor="let timer of arrayOpenTimer">
    <app-timer-task *ngIf="timerIsOpen(timer)" [timerCurrentTask]="timer"
                    (updateCurrentTask)="getTasks();" (closeCurrentTask)="selectTimers(timer);"></app-timer-task>
  </div>

  <ul>
    <li *ngFor="let task of tasks">
      <div>
        <input type="checkbox" class="multiDeleted" id="taskId{{ task.id }}" name="{{ task.name }}"
               value="{{ task.id }}"
               (click)="selectTask(task)">
        - Name : {{ task.name }}
        - Id : {{ task.id }}
        - Finish : {{ task.isTerminated }}
        - Durée : {{ task.duration }}

        <button (click)="taskIsTerminated(task)">Finish</button>
        <button (click)="editTask(task)">Edit</button>
        <button (click)="timerDialog(task)">Timer</button>
        <button (click)="deleteTask(task)">Delete</button>
      </div>
      <div>
        <app-edit-task [id]="getId(task)" *ngIf="editTaskActive && (task.id === editCurrentTask.id)" [editCurrentTask]="editCurrentTask"
                       (updateCurrentTask)="getTasks()" ></app-edit-task>
      </div>
    </li>
  </ul>
</div>
