<div [id]="timerCurrentTask.id" >
  <p>{{ timerCurrentTask.id }} - {{ timerCurrentTask.name }}</p>
  <div class="display-chrono">
    <p>
      <span class="heure">00</span> : <span class="minute">00</span> : <span class="seconde">00</span>
    </p>
  </div>
  <div class="display-actions">
    <button class="start" >
      <img src="assets/play.svg" width="15" alt="play" />
    </button>
    <button class="stop" disabled="true">
      <img src="assets/pause.svg" width="15" alt="stop"  />
    </button>
    <button class="reset">
      <img src="assets/reset.svg" width="15" alt="reset" />
    </button>
    <button class="close">
      Close
    </button>
  </div>
</div>
